.container {
    max-width: 1050px;
    margin: 0 auto;
  }

header {
    display:flex;
    justify-content: center;
    margin-top: 50px;
    gap: 9px;

}

main {
    display: flex;
    gap: 35px;
}

.left {
    width: 40%;
}

.right {
    width: 60%;
}

.info-about-me {
    background-color: #ff5400;
    width: 800px;
    height: 200px;
    padding-left: 50px;
    border-radius: 1%;
}

.name {
    margin-top: 40px;
    margin-bottom: 0px;
    font-size: 29px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
} 

.surname {
    margin-top: 5px;
    margin-bottom: 20px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
}

.prof {
  margin-top: 0px;
  font-size: 15px;
  font-family: Arial, Helvetica, sans-serif;
  color: white;
}

.avatar {
    width: 200px;
    height: 200px;
}

img {
    width: 100%;
    height: 100%;
    border-radius: 2%;
}

.title {
    color: #ad2e24;
    border-bottom: 3px solid #ad2e24;
    font-size: 35px;
}

.loc-img {
    width: 15px;
}

.phone-img {
    width: 15px;
}

.email-img {
    width: 15px;
}

.summary {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.skills {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 21px;
    padding: 0px;

}

.stack {
    border-bottom: 2px solid gray;
    width: fit-content;
}

.contacts {
    list-style: none;
    padding: 0px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
}

.courses {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    color: #ad2e24;
    border-bottom: 2px solid #ad2e24;
    width: fit-content;
}

.name-cours {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    font-weight: bold;
    color: #ff5400;
    display: flex;
}

.school {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    margin-top: 7px;
}

.languages {
    color: #ad2e24;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 20px;
}

.lang-container {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 19px;
    list-style: none;
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.general-language {
    padding: 0px;
    width: fit-content;
}

.circle-full {
    background-color: #ff5400;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.circle-empty {
    background-color: #dcdada;
    border-radius: 50%;
    width: 25px;
    height: 25px;
}

.location-circle {
    display: flex;
    gap: 15px;
}